secrets:
  dewey:
    postgres: Aiy5vah0cheep
    secret_key: faiw5xeeweetaizuDee7aigoFu7thif5Li5Ohthahtheigiy8chuTh8phash6eiS
    jira: asdf1234
    vault: uebeeMu9aikei
  pdns:
    api-key: iej6ood8amiequ7beiLe7eiMiepo9bi
uids:
  dewey:
    uid: 1234
    gid: 1234
version:
  dewey: 0.0.13
  postgresql_major: 9.4
dewey:
  django_settings_module: dewey.settings.production
  jira_user: dewey
  powerdns_api_url: 'http://10.5.3.1:8081'


